
<!DOCTYPE html>
<html>
    <head>
        <title>Excellent Dog Parks in San Francisco</title>
    </head>
    <body>
        <div>
          <h1>Best Dog Parks of San Francisco</h1>
          <article>
              <h3>Upper Noe</h3>
              <p>It's pretty good, dirt on the ground.</p>
          </article>
       <article>
              <h3>Fort Funston</h3>
              <p>Lot's of great room to run and play.</p>
          </article>
       <article>
              <h3>Golden Gate Park</h3>
              <p>Large space, closed for repairs.</p>
          </article>
      </div>
    </body>
</html>
